<div class="footer">
  <div class="footer_content">
    
    <div class="footer_conent_part">
        <div class="footer_content_part_title">Products</div>
        <ul class="footer_content_part_body">
            
            <%set DataTable categoryList_footer=get_category_child_list("product",0,7)%>
                <%foreach(DataRow dr in categoryList_footer.Rows)%>
                    
                    <li class="footer_part_li">
                        <a title="{dr[title]}" href="<%linkurl("product_list",{dr[id]})%>">
                    {dr[title]}
                        </a>
                    </li>
                <%/foreach %>
       </ul>
    </div>
    <div class="footer_conent_part">
      
        <div class="footer_content_part_title">News</div>
        <ul class="footer_content_part_body">
          <%set DataTable categoryList_footer2=get_category_child_list("news",0,7)%>
                <%foreach(DataRow dr in categoryList_footer2.Rows)%>
                    
                    <li class="footer_part_li">
                        <a title="{dr[title]}" href="<%linkurl("news_list",{dr[id]})%>">
                            {dr[title]}
                        </a>
                    </li>
                <%/foreach %>
        </ul>
    </div>
    <div class="footer_conent_part">
      
        <div class="footer_content_part_title">Contacts</div>
        <ul class="footer_content_part_body">
          <li class="contactitm"><i class="icn_font icn_locate"></i>{site.address}</li>
          <li class="contactitm"><i class="icn_font icn_phone"></i>{site.tel}</li>
          <li class="contactitm"><i class="icn_font icn_email"></i>{site.email}</li>
        </ul>
    </div>


  </div>
  <div class="copyright">
    <span>Copyright &copy; 2013-2016 CAPA Tools Co.,Limted. {site.crod}</span>
    <a href="" class="icn_youtube right mt10"></a>
    <a href="" class="icn_facebook right mt10"></a>
    
  </div>
</div>