<div class="header">
  <div class="header_logo">
    <a href="<%linkurl("index")%>">
        <span class="header_logo_img"></span><br/>
        <span class="header_logo_txt">CAPA TOOLS CO.,LIMITED</span>
    </a>
  </div>
  <a class="alibaba">
  <!-- ALIBABA.COM TRADE ASSURANCE CODE BEGIN -->
<script id="ali-ta-embed-script" src="//u.alicdn.com/js/5v/run/ta/embed.js?e=360" type="text/javascript" data-token="ID1t_vtHmE4fgz-DOP7DfDV05L5Nof58_pLv2iyumXlRag*" ></script>
<!-- ALIBABA.COM TRADE ASSURANCE CODE END -->
  </a>
  <div class="header_wrap">
    <ul class="header_menu">
      <li class="header_menu_itm before1"><a href="<%linkurl("product_list",0)%>">Products</a>
        <ul class="sub_menu">
            <%set DataTable categoryList_header=get_category_child_list("product",0)%>
                <%foreach(DataRow dr in categoryList_header.Rows)%>
                    
                    <li class="sub_menuitm">
                        <a title="{dr[title]}" href="<%linkurl("product_list",{dr[id]})%>">
                    {dr[title]}
                        </a>
                    </li>
                <%/foreach %>
        </ul>
      </li>
      <li class="header_menu_itm"><a href="<%linkurl("aboutus")%>">About US</a></li>
      <li class="header_menu_itm"><a href="<%linkurl("news_list",{0})%>">News</a></li>
      <li class="header_menu_itm"><a href="<%linkurl("down_list,{0}")%>">Download</a></li>
      <li class="header_menu_itm"><a href="<%linkurl("contact")%>">Contact US</a></li>
      <li class="header_menu_itm"></li>
    </ul>
    <div class="header_searchs right">
      <input type="text" value="" placeholder="Search Products" class="search_input">
      <span class="header_search_btn"></span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>