<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{site.seo_title}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link href="<%templateskin%>/css/style1.css" rel="stylesheet" type="text/css" />
<link href="<%templateskin%>/js/nivo/nivo-slider.css" rel="stylesheet" type="text/css" />
<link href="<%templateskin%>/js/nivo/themes/default/default.css" rel="stylesheet" type="text/css" />


</head>

<body>
  <div class="main index">
    <div class="wrap">
      <div class="content">
        <!--Header-->
        <%template src="_header.html"%>
        <!--/Header-->
          <div class="content_body">
          
            <section  class="index_slider theme-default">
              <div id="slider" class="nivoSlider">
                  <a href="#"><img  src="<%templateskin%>/images/banner1.jpg"  /></a>
                  <a href="#"><img src="<%templateskin%>/images/banner2.jpg"  /></a>
                  <a href="#"><img src="<%templateskin%>/images/banner3.jpg" /></a>
                  <a href="#"><img src="<%templateskin%>/images/banner4.jpg"  /></a>
              </div>
            </section>
            <section class="index_product_view">
                
            <%set DataTable product_type=get_category_child_list("product",0,6)%>
                <ul class="product_type_list">
                <%foreach(DataRow dr in product_type.Rows)%>
                    
                    <li class="product_type_itm">
                        <p class="product_type_itm_title"> <a title="{dr[title]}" href="<%linkurl("product_list",{dr[id]})%>">
                    {dr[title]}
                        </a></p>
                        <div class=" product_type_itm_content">
                            <img   class="product_type_itm_img tj_lazy" data-original="<%templateskin%>/images/product_index{product_type.Rows.IndexOf(dr)}.png" />
                            <div class="product_type_itm_child"><%set DataTable focusProdcut=get_article_list("product", 0, 5, "status=0")%>
                                <ul class="product_type_child_list"><%foreach(DataRow cdr in focusProdcut.Rows)%><li class="product_type_child_itm">
                                    <a class="product_type_child_itm_txt" title="{cdr[title]}" href="<%linkurl("product_show",{cdr[id]})%>">
                                         {cdr[title]}

                                        </a><%/foreach%></li></ul>
                                <a class="more_btn" href="<%linkurl("product_list",{dr[id]})%>">MORE</a>
                                <a  class="other_btn" href="<%linkurl("product_list",0)%>"">OTHER</a>
                            </div>
                        </div>
                       
                    </li>
                <%/foreach %>
                </ul>
            </section>
            <section class="index_img1">
                <img class="tj_lazy" width="100%" height="100%" data-original="<%templateskin%>/images/index_img1.png"  />
            </section>
        </div>
        <!--Footer-->
        <%template src="_footer.html"%>
        <!--/Footer-->

      </div>
    </div>
  </div>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/nivo/jquery.nivo.slider.min.js"></script>
<script type="text/javascript">
$(function(){

    $("img.tj_lazy").lazyload({ effect: "fadeIn" });

  $("#slider").nivoSlider({ 
    effect: "slideInLeft",
    pauseTime:8000,
    animSpeed:350
   });
});
</script>
</body>
</html>