<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>站内搜索 - {site.name}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link href="{config.webpath}css/pagination.css" rel="stylesheet" />
<link href="<%templateskin%>/css/style1.css" rel="stylesheet" type="text/css" />
</head>

<body>
 <div class="main news">
    <div class="wrap">
      <div class="content">
        <!--Header-->
        <%template src="_header.html"%>
        <!--/Header-->
        
          <div class="content_body ">
           <%set DataTable list=get_search_list(15, out totalcount)%>
    <!--取得分页页码列表-->
    <%set pagelist=get_page_link(15, page, totalcount, linkurl("search","?channel=" + channel + "&keyword=" + Server.UrlEncode(keyword) + "&page=__id__"))%>
   

               <div class="search_title">
                    <h2>Site Search</h2>
                <i>KeyWords： <b class="blue">{keyword}</b> ，All  <b class="red">{totalcount}</b>  Records</i>
               </div>
            
               <div class="news_list">
                      <%foreach(DataRow dr in list.Rows)%>
                      <div class="news_item">
                          <div class="news_item_header">
                              <span class="news_item_date">
                                    <span class="news_date_day">
                                    <%csharp%>
                                    templateBuilder.Append(Convert.ToDateTime({dr[add_time]}).ToString("dd"));
                                      
                                    <%/csharp%>
                                    </span>
                                    <br />
                                    <span class="news_date_month">
                                     <%csharp%>
                                      templateBuilder.Append(Convert.ToDateTime({dr[add_time]}).ToString("MMMM / yyyy", System.Globalization.DateTimeFormatInfo.InvariantInfo));
                                        
                                        <%/csharp%>
                                    </span>
                              </span>
                              <span class="news_item_title">
                                <a href="<%linkurl("news_show",{dr[id]})%>">{dr[title]}</a>
                              </span>
                          </div>
                          <div class="news_article">
                              <span>Published In: </span>
                              <span>Hits: <script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_article_click&id={dr[id]}"></script></span>
                              <span>Comment: <script type="text/javascript"  src="{config.webpath}tools/submit_ajax.ashx?action=view_comment_count&id={dr[id]}"></script></span>
                          </div>
                          <div class="news_item_content">
                              <img class="tj_lazy news_item_img" data-original="{dr[img_url]}" />
                              <p class="news_item_dec">
                                {dr[remark]}<br />
                                <a class="news_item_readmore" href="<%linkurl("news_show",{dr[id]})%>">Read More</a>
                              </p>
                          </div>
                      </div>
                     
                      <%/foreach%>
                      <%if({totalcount}==0)%>
                          <div class="nodata">No Records！</div>
                      <%/if%>
               </div>
               
    <!--页码列表-->
    <div class="page-box">
      <div class="digg">{pagelist}</div>
        <div class="clearfix">
        </div>
    </div>
    <!--/页码列表-->
          </div>

  

 <!--Footer-->
        <%template src="_footer.html"%>
        <!--/Footer-->

      </div>
    </div>
  </div>
  
  <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery-1.9.0.min.js"></script>
   <script type="text/javascript">
       $(".tj_lazy").lazyload({ effect: "fadeIn" });
   </script>
</body>
</html>