.contact .content_body
{
    border-top:solid 1px transparent;
}
.contact_map
{   
    position:relative;
    height:348px;
    margin:5px 5px 10px 5px;
    background-image:url(../images/contact_map.png);
}

.contact_map_mask
{
    background-color:rgba(52,58,50,0.8);
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.contact_map_info
{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto 0;
    height:70px;
    left:447px;
}
.contact_map_txt
{
    font-size:30px;
    color:#fff;
}
.contact_abs
{
    width:50px;
    height:68px;
    vertical-align:bottom;
    display:inline-block;
    background-image:url(../images/contact_abs.png);
}
.contact_call
{
    background-image:url(../images/contact_call.png);
}
.contact_msg
{
    background-image:url(../images/contact_msg.png);
}
.contact_abs2
{
    background-image:url(../images/contact_abs2.png);
}
.contact_info_title
{
    font-size:34px;
    color:#f64e29;
    line-height:4;
    text-align:center;
    
}
.contact_info
{
    text-align:center;
    font-size:0;
    padding-bottom:100px;
}
.contact_info_block
{
    width:301px;
    height:202px;
    display:inline-block;
    background-color:#f3f3f3;
    vertical-align:top;
    position:relative;
    color:#2c2c2c;
    margin-right:7px;
    padding:0 20px;
    box-sizing:border-box;
}
.contact_block_mask
{
    opacity:0;
    display:inline-block;
    left:0;
    height:100%;
    width:100%;
    transform:scaleX(0);
    background-color:#f64e29;
    z-index:1;
    position:absolute;
    transition:all 0.2s ease;
}
.contact_block_txt,.contact_block_icn
{
    position:relative;
    z-index:3;
}
.contact_block_icn
{
    width:78px;
    height:75px;
    display:inline-block;
    background-color:#f64e29;
    margin:20px auto 40px auto;
}
.contact_info_block:hover
{
    color:#fff;
}
.contact_info_block:hover .contact_block_mask
{
     opacity:1;
    transform:scaleX(1);
}

.contact_block_txt
{
    font-size:18px;
}
