.news .content_body
{
    padding:20px;
    color:#9e9999;
    padding-right:40px;
}
.news_item
{
    margin-bottom:15px;
}
.news_item_date
{
    display:inline-block;
    padding:12px;
    background-color:#000;
    color:#fff;
    max-width:81px;
    text-align:center;
}
.news_date_day
{
    font-size:30px;
}
.news_date_month
{
    font-size:14px;
    white-space:nowrap;
    
}
.news_item_title
{
    font-size:20px;
    color:#3f3f3f;
    vertical-align: 35px;
    padding-left: 10px;

}
.news_article
{
    height:40px;
    line-height:40px;
    margin:10px 0;
    color:##9a9999;
    border:solid 1px #e5e5e5;
}
.news_article span
{
    height:100%;
    border-right:solid 1px #e5e5e5;
    display:inline-block;
    min-width:80px;
    padding: 0 10px;
    
}
.news_item_img
{
    width:550px;
    height:280px;
    position:absolute;
}
.news_item_dec
{
    min-height:280px;
    margin-left:600px;
    font-size:18px;
    position:relative;
    padding-top:40px;
        box-sizing: border-box;
}
.news_item_readmore
{
    display:inline-block;position: absolute;
    right: 10px;
    bottom:0px;
    color:#3f3f3f;
}
.page-box div.digg a
{
    color:#3f3f3f;
}
.news_show .list-auto
{
    margin-right:0;
    padding:0 60px;
}